.dropDown{
	height: 3.5625rem;
    width: 20rem;
}

@media only screen and (max-width: 769px) {
	.dropDown{
		width: 15rem;
	}
}
@media only screen and (max-width: 550px) {
	.dropDown{
		width: 9.375rem;
	}
}